/*------CSS header------*/
header nav
{
	margin-top: 30px;
	font-size: 1em;
	font-style: italic;
	text-transform: uppercase;
}
.nav 
{
	display : none;
}
.menu-checkbox:checked ~ .nav
{
	display: block;
}
.menu-checkbox
{
	opacity: 0;
	position : absolute;
	top: -5000px;
}
.menu-checkbox:focus + .menu-toogle
{
	outline: #00A1A1 auto 2px;
}
.menu-toogle
{
	font-size: 1.2em;
	padding-top: 50px;
}
nav a
{
	color: black;
}
#user
{
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 10px;
}
#add_post
{
	margin-bottom: 10px;
}
#page_title
{
	padding: 20px;
}

/*------CSS Post------*/
#chapters_list
{
	padding: 10px;
}
#publication_date
{
	font-size: 0.9em;
}
#chapter_return, #chapter_update, #chapter_delete
{
	margin-top: 30px;
	margin-bottom: 30px;
}
#content_post
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
}
#comment_post_title
{
	padding: 20px;
	text-decoration: underline;
}


/*------CSS footer------*/
footer p
{
	border-top: 1px black solid;
	margin-top: 30px;
	margin-bottom: -2px;
}

/*------CSS page contact------*/
#contact_bio
{
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
#contact_name
{
	border-top: 1px solid black;
	margin-top: 5px;
	padding-top: 20px;
}

/*------modification si ecran min 60em------*/
@media screen and (min-width: 60em)
{
	.menu-toogle, .menu-checkbox
	{
		display: none;
	}
	.nav
	{
		display: block;
	}
	.nav a
	{
		display: inline-block;
	}
}

/*------modification si ecran max 60em------*/
@media screen and (max-width: 60em)
{

}