/*------CSS header------*/
header nav
{
	margin-top: 30px;
	font-size: 1em;
	font-style: italic;
	text-transform: uppercase;
}
nav a
{
	color: black;
}
#dashboard
{
	margin-top: 38px;
}
#user
{
	text-align: center;
}
#add_post
{
	margin-top: 35px;
}
#page_title
{
	padding: 20px;
}

/*------CSS Post------*/
#chapters_list
{
	padding: 10px;
}
#publication_date
{
	font-size: 0.9em;
}
#chapter_return, #chapter_update, #chapter_delete
{
	margin-top: 30px;
	margin-bottom: 30px;
}
#content_post
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
}
#comment_post_title
{
	padding: 20px;
	text-decoration: underline;
}
#signals
{
	border: 1px solid black;
	padding: 1px;
}

/*------CSS footer------*/
footer p
{
	border-top: 1px black solid;
	margin-top: 30px;
	margin-bottom: -2px;
}

/*------CSS page contact------*/
#contact_bio
{
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
#contact_name
{
	border-top: 1px solid black;
	margin-top: 5px;
	padding-top: 20px;
}
